#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  color: rgba(234, 79, 30, 1);
}

.card {
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1px;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.12156862745098039));
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.12156862745098039));
}
